{% extends "./navbar/navbar.html" %}

{% block title%}
Signup
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="../../static/signup/style.css" />
{% endblock %}

{% block extrascript %}
{% endblock%}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col justify-content-center">
      <div class="card mx-auto">
        <div class=" card-header">
          <a class="navbar-brand" href="/">
            Be fit!
            <img src="../../static/assets/images/logo.png" alt="" width="32" height="32" />
          </a>
          <a class="nav-button" href="/">Home</a>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="col">
              <h2>
                Create a new account
              </h2>
              <div class="mt-3">
                <span>
                  Already a Member?
                </span>
                <br>
                <a class="but" style="color: orange !important;" href="/login">Log In</a>
              </div>
              <form method="POST">
                <div class="mt-2">
                  <label for="firstName" class="form-label">First name</label>
                  <input type="text" class="form-control form-control-sm" id="firstName" placeholder="eg. John">
                </div>
                <div class="mt-2">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control form-control-sm" id="email" placeholder="name@example.com">
                </div>
                <div class="mt-2">
                  <label for="password1" class="form-label">Password</label>
                  <input type="password" class="form-control form-control-sm" id="password1" placeholder="Password">
                </div>
                <div class="mt-2">
                  <label for="password2" class="form-label">Confirm password</label>
                  <input type="password" class="form-control form-control-sm" id="password2" placeholder="Password">
                </div>
                <div class="">
                  choose gender:
                  <input type="radio" class="" id="male" name="gender" value="m" checked>
                  <label for="male">Male</label>
                  <input type="radio" class="" id="female" name="gender" value="f">
                  <label for="female">Female</label>
                </div>
                <div class="">
                  <label for="birthdate">Birthdate</label>
                  <input type="date" class="" id="birthdate" name="birthdate" placeholder="Enter birthdate">
                </div>
                <div class="center mt-3">
                  <button type="submit" class="btn btn-warning">Sign Up</button>
                </div>
              </form>
            </div>
            <div class="col" id="img">
              <img src="../../static/assets/svg/signup_bg.svg" alt="" class="bg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category=='error' %}
                <p style="color: red;">{{ message }}</p>
            {% endif %}
            {% if category=='success' %}
                <p style="color: green;">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% endwith %}
  {% endblock%}
