{% extends "./navbar/navbar.html" %}
{% block title%}
Home
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="../../static/home/style.css" />
{% endblock %}
{% block extrascript %}
<script src="../../static/home/script.js"></script>
{% endblock%}

{% block content %}
<div class="container-main">
  <div class="activ-container">
    <img src="../../static/assets/images/1.png" alt="activ" class="activ-img">
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eligendi sunt aliquid
      repellendus dolorem consectetur laborum delectus eum, quas iure nobis amet sed officiis ipsam blanditiis
      obcaecati! Optio, temporibus! Vel voluptatem accusamus veritatis magni, molestias similique, veniam
      accusantium pariatur perspiciatis quisquam corporis commodi impedit id quo quidem quae. A, nihil.</div>
  </div>

  <div class="activ-container">
    <img src="../../static/assets/images/2.png" alt="activ" class="activ-img">
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eligendi sunt aliquid
      repellendus dolorem consectetur laborum delectus eum, quas iure nobis amet sed officiis ipsam blanditiis
      obcaecati! Optio, temporibus! Vel voluptatem accusamus veritatis magni, molestias similique, veniam
      accusantium pariatur perspiciatis quisquam corporis commodi impedit id quo quidem quae. A, nihil.</div>
  </div>
  <div class="activ-container">
    <img src="../../static/assets/images/3.png" alt="activ" class="activ-img">
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eligendi sunt aliquid
      repellendus dolorem consectetur laborum delectus eum, quas iure nobis amet sed officiis ipsam blanditiis
      obcaecati! Optio, temporibus! Vel voluptatem accusamus veritatis magni, molestias similique, veniam
      accusantium pariatur perspiciatis quisquam corporis commodi impedit id quo quidem quae. A, nihil.</div>
  </div>
  <div class="activ-container">
    <img src="../../static/assets/images/4.png" alt="activ" class="activ-img">
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eligendi sunt aliquid
      repellendus dolorem consectetur laborum delectus eum, quas iure nobis amet sed officiis ipsam blanditiis
      obcaecati! Optio, temporibus! Vel voluptatem accusamus veritatis magni, molestias similique, veniam
      accusantium pariatur perspiciatis quisquam corporis commodi impedit id quo quidem quae. A, nihil.</div>
  </div>
  <div class="activ-container">
    <img src="../../static/assets/images/5.png" alt="activ" class="activ-img">
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eligendi sunt aliquid
      repellendus dolorem consectetur laborum delectus eum, quas iure nobis amet sed officiis ipsam blanditiis
      obcaecati! Optio, temporibus! Vel voluptatem accusamus veritatis magni, molestias similique, veniam
      accusantium pariatur perspiciatis quisquam corporis commodi impedit id quo quidem quae. A, nihil.</div>
  </div>
  <div class="activ-container">
    <img src="../../static/assets/images/6.png" alt="activ" class="activ-img">
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eligendi sunt aliquid
      repellendus dolorem consectetur laborum delectus eum, quas iure nobis amet sed officiis ipsam blanditiis
      obcaecati! Optio, temporibus! Vel voluptatem accusamus veritatis magni, molestias similique, veniam
      accusantium pariatur perspiciatis quisquam corporis commodi impedit id quo quidem quae. A, nihil.</div>
  </div>
  <div class="activ-container">
    <img src="../../static/assets/images/7.png" alt="activ" class="activ-img">
    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, eligendi sunt aliquid
      repellendus dolorem consectetur laborum delectus eum, quas iure nobis amet sed officiis ipsam blanditiis
      obcaecati! Optio, temporibus! Vel voluptatem accusamus veritatis magni, molestias similique, veniam
      accusantium pariatur perspiciatis quisquam corporis commodi impedit id quo quidem quae. A, nihil.</div>
  </div>
</div>
{% endblock%}