{% extends "./navbar/navbar.html" %}
{% block title%}
Home
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="../../static/home/style.css" />
{% endblock %}
{% block extrascript %}
<script src="../../static/home/script.js"></script>
{% endblock%}

{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-16 text-center">
      Home page
    </div>

  </div>
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <img src="../../static/assets/images/logo.png" alt="" class="responsive" />
    </div>

  </div>
</div>
{% endblock%}